/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '@uppy/core/dist/style.css';
@import '@uppy/dashboard/dist/style.css';


html{
    background-color:#f5f5f5;
    
}
.custom-button {
    background-color: #55a098;
    color: white;
  }
  
  